<md-card>
  <md-toolbar color="accent">Add Car</md-toolbar>
  <md-card-title-group>
   
  </md-card-title-group>
  <md-card-content>
     <form>
      <table  cellspacing="0">
        <tr>
          <td>
            <md-input placeholder="car mark" ></md-input>
          </td>
        </tr>

        <tr>
          <td>
            <md-input placeholder="car model"></md-input>
          </td>
        </tr>
      </table>
    </form>
  </md-card-content>
  <md-card-footer>
    <button md-raised-button color="primary"> <i class="material-icons app-input-icon">check</i></button>
  </md-card-footer>
</md-card>


