<app-layout>
      <app-sidenav [open]="$showSidenav|async">
        <app-nav-item (activate)="closeSidenav()" routerLink="/" icon="book" hint="View your book collection">
          My Collection
        </app-nav-item>
        <app-nav-item (activate)="closeSidenav()" routerLink="/profile" icon="person" hint="See you profile">
          User Profile
        </app-nav-item>
         <app-nav-item (activate)="closeSidenav()" routerLink="/form" icon="directions_car" hint="add car to main list">
          Add Car
        </app-nav-item>
        <app-nav-item (activate)="closeSidenav()" routerLink="/cars" icon="directions_car" hint="Click on the car you like">
          Select Fav Car
        </app-nav-item>
      </app-sidenav>
      <app-toolbar (openMenu)="openSidenav()" [user]="($user|async)" (clickLink)="clicked($event)">
        Stuff
           
        </app-toolbar>
       
      <router-outlet></router-outlet>
      <router-outlet name="zibioutlet"></router-outlet>
</app-layout>