<app-layout>
      <app-sidenav [open]="$showSidenav|async">
        <app-nav-item (activate)="closeSidenav()" routerLink="/" icon="book" hint="View your book collection">
          My Collection
        </app-nav-item>
        <app-nav-item (activate)="closeSidenav()" routerLink="/book/find" icon="search" hint="Find your next book!">
          Browse User
        </app-nav-item>
         <app-nav-item (activate)="closeSidenav()" routerLink="/form" icon="directions_car" hint="add car to main list">
          Add Car
        </app-nav-item>
        <app-nav-item (activate)="closeSidenav()" routerLink="/cars" icon="directions_car" hint="Click on the car you like">
          Select Fav Car
        </app-nav-item>
      </app-sidenav>
      <app-toolbar (openMenu)="openSidenav()">
        User Collection
      </app-toolbar>

      <router-outlet></router-outlet>
</app-layout>