:host {
      display: flex;
      justify-content: center;
      margin: 10px 0;
    }
md-card {
      width: 600px;
      
      margin: 5px;
    }
    md-card-title {
      margin-right: 10px;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
    img {
      width: 120px;
      min-width: 120px;
      margin-left: 5px;
    }
    md-card-content {
      margin-top: 15px;
    }
    span {
      display: inline-block;
      font-size: 13px;
    }
    md-card-footer {
      padding: 0 25px 25px;
    }
   
 