:host {
      display: flex;
      justify-content: center;
      margin: 10px 0;
    }

 .example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}
md-list-item{
  height: 25px;
  margin: 5px;
}
md-list-item.selected{
    color:red;
}