<!--<md-radio-group class="example-radio-group" (change)="getValue($event)">
 <md-radio-button class="example-radio-button" *ngFor="let item of hitlist" [value]="item.$key"  >
    <div mdTooltip="{{item.text}}" [mdTooltipPosition]="'above'" *ngIf="item.text.length>=36"> {{item.text | truncate: 36 }} </div>
    <div  *ngIf="item.text.length<35"> {{item.text }} </div>
  </md-radio-button>
 
</md-radio-group>-->

<md-list class="app-list">
        <md-list-item *ngFor="let item of hitlist"  [class.selected]="false">
          <a [routerLink]="['/detail', item.$key]"> <div mdTooltip="{{item.text}}" [mdTooltipPosition]="'above'" *ngIf="item.text.length>=36"> {{item.text | truncate: 36 }} </div>
           <div  *ngIf="item.text.length<35"> {{item.text }} </div></a>
        </md-list-item>
</md-list>
