 .demo-fill-remaining {
    flex: 1 1 auto;
}
.avatar {
    
    height: 32px;
    margin: 8px 0 8px 24px;
    outline: 0;
    vertical-align: top;
    width: 32px;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2
}

.devsite-user-avatar {
    border-radius: 50%;
    height: 32px;
    margin: 8px 0 8px 24px;
    outline: 0;
    vertical-align: top;
    width: 32px;
}