 <md-toolbar color="primary">
      <button md-icon-button (click)="openMenu.emit()">
        <md-icon>menu</md-icon>
      </button>
      <ng-content></ng-content>
      <span class="demo-fill-remaining"></span>
        <button md-button class="login" *ngIf="!auth.authenticated()" (click)="auth.login()"><md-icon color="accent">person_outline</md-icon>Log In </button>
        <button md-button class="login" *ngIf="auth.authenticated()" (click)="auth.logout()"><md-icon color="accent">person</md-icon>Log Out</button>
        <img class="avatar" width="40px"  src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg">
   
    </md-toolbar>
